<div class="container">
  <h2>Adicionar Despesa</h2>

  <div class="menu">
    <button routerLink="/dashboard">Voltar ao Dashboard</button>
  </div>

  <form (ngSubmit)="onSubmit()" #form="ngForm">
    <div class="form-group">
      <label for="name">Nome</label>
      <input
        type="text"
        id="name"
        [(ngModel)]="newExpense.name"
        name="name"
        required
      />
    </div>

    <div class="form-group">
      <label for="category">Categoria</label>
      <select
        id="category"
        [(ngModel)]="newExpense.category"
        name="category"
        required
      >
        <option value="" disabled selected>Selecione uma categoria</option>
        <option value="HOUSING">Moradia</option>
        <option value="FOOD">Alimentação</option>
        <option value="TRANSPORT">Transporte</option>
        <option value="HEALTH">Saúde</option>
        <option value="ENTERTAINMENT">Entretenimento</option>
        <option value="EDUCATION">Educação</option>
        <option value="CLOTHING">Vestuário</option>
        <option value="OTHERS">Outros</option>
      </select>
    </div>

    <div class="form-group">
      <label for="amount">Valor</label>
      <input
        type="number"
        id="amount"
        [(ngModel)]="newExpense.amount"
        name="amount"
        required
      />
    </div>

    <div class="form-group">
      <label for="category">Descrição</label>
      <input
        type="text"
        id="category"
        [(ngModel)]="newExpense.description"
        name="category"
        required
      />
    </div>

    <div class="form-group">
      <label for="date">Data</label>
      <input
        type="date"
        id="date"
        [(ngModel)]="newExpense.date"
        name="date"
        required
      />
    </div>

    <div class="button-group">
      <button type="submit" [disabled]="form.invalid">Adicionar</button>
      <button type="button" class="cancel" (click)="cancel()">Cancelar</button>
    </div>
  </form>
</div>
