<div class="container">
  <h2>Cadastro</h2>
  <form [formGroup]="form" (ngSubmit)="register()">
    <label for="name">Nome</label>
    <input
      id="name"
      type="text"
      formControlName="name"
      placeholder="Digite seu nome"
    />
    <div
      *ngIf="form.get('name')?.invalid && form.get('name')?.touched"
      class="error"
    >
      Nome é obrigatório
    </div>

    <label for="email">Email</label>
    <input
      id="email"
      type="email"
      formControlName="login"
      placeholder="Digite seu email"
    />
    <div
      *ngIf="form.get('login')?.invalid && form.get('login')?.touched"
      class="error"
    >
      Email válido é obrigatório
    </div>

    <label for="password">Senha</label>
    <input
      id="password"
      type="password"
      formControlName="password"
      placeholder="Digite sua senha"
    />
    <div
      *ngIf="form.get('password')?.invalid && form.get('password')?.touched"
      class="error"
    >
      Senha com pelo menos 6 caracteres
    </div>

    <button type="submit" [disabled]="form.invalid">Cadastrar</button>
  </form>

  <p>Já tem uma conta? <a routerLink="/login">Faça login</a></p>
</div>
