<div class="dashboard-container">
  <div class="dashboard-header">
    <h1>Dashboard Financeiro</h1>
    <div class="menu-buttons">
      <button routerLink="/expenses">Ver Despesas</button>
      <button routerLink="/addExpense">Nova Despesa</button>
      <button routerLink="/addBalance">Adicionar dinheiro</button>
    </div>
  </div>

  <div class="summary-section" *ngIf="summary">
    <div class="cards">
      <div class="card">
        <h3>Saldo</h3>
        <p>R$ {{ summary.balance | number : "1.2-2" }}</p>
      </div>
    </div>

    <div class="latest-expenses">
      <h3>Últimas Despesas</h3>
      <ul>
        <li *ngFor="let expense of summary.expenses">
          <span>{{ expense.name }}</span>
          <span>- R$ {{ expense.amount | number : "1.2-2" }}</span>
        </li>
      </ul>
    </div>
  </div>
</div>
